<%
  const cats = site.categories.sort('name').toArray();
%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <% if (!cats.length) { %>
        <p class="empty-state"><%= __('categories.empty') %></p>
      <% } else { %>
      <ul class="taxonomy-grid">
        <% cats.forEach(function (c) { %>
          <li class="taxonomy-item">
            <a href="<%- url_for(c.path) %>">
              <span class="taxonomy-name"><%= c.name %></span>
              <span class="taxonomy-count"><%= c.length %></span>
            </a>
          </li>
        <% }); %>
      </ul>
      <% } %>
      <% if (page.content) { %><div class="post-body page-extra"><%- page.content %></div><% } %>
    </div>
  </div>
</div>
